In [1]:
import numpy as np
import pandas as pd

In [40]:
input = pd.read_csv('aoc_input/aoc5.txt', header=None).squeeze()
input

0      [F]         [L]     [M]
1      [T]     [H] [V] [G] [V]
2      [N]     [T] [D] [R] [N]     [D]
3      [Z]     [B] [C] [P] [B] [R] [Z]
4      [M]     [J] [N] [M] [F] [M] [V] [H]
5      [G] [J] [L] [J] [S] [C] [G] [M] [F]
6      [H] [W] [V] [P] [W] [H] [H] [N] [N]
7      [J] [V] [G] [B] [F] [G] [D] [H] [G]
8       1   2   3   4   5   6   7   8   9
9                       move 6 from 4 to 3
10                      move 5 from 8 to 9
11                      move 1 from 4 to 5
12                      move 1 from 4 to 5
13                      move 2 from 2 to 7
14                      move 2 from 1 to 6
15                      move 9 from 6 to 1
16                     move 12 from 3 to 5
17                      move 1 from 8 to 4
18                      move 3 from 1 to 5
19                      move 1 from 6 to 7
20                     move 10 from 5 to 2
21                     move 14 from 5 to 1
22                      move 8 from 7 to 9
23                     move 11 from 2 to 9
24                      move 1 from 3 to 9
25                     move 11 from 1 to 5
26                      move 2 from 1 to 9
27                      move 1 from 4 to 8
28                      move 6 from 1 to 5
29                      move 1 from 8 to 3
                      ...
481                     move 2 from 4 to 2
482                     move 3 from 1 to 4
483                     move 1 from 2 to 1
484                    move 10 from 3 to 2
485                     move 7 from 7 to 3
486                    move 11 from 7 to 9
487                     move 5 from 3 to 1
488                     move 1 from 4 to 5
489                    move 11 from 2 to 3
490                     move 9 from 9 to 3
491                     move 3 from 9 to 4
492                     move 2 from 4 to 8
493                     move 1 from 5 to 6
494                    move 13 from 1 to 5
495                     move 3 from 3 to 8
496                     move 3 from 7 to 2
497                     move 1 from 7 to 4
498                     move 3 from 8 to 3
499                     move 8 from 3 to 8
500                     move 4 from 4 to 5
501                     move 2 from 8 to 2
502                     move 8 from 8 to 3
503                     move 1 from 6 to 3
504                     move 2 from 2 to 8
505                     move 6 from 5 to 2
506                     move 3 from 2 to 8
507                     move 1 from 1 to 7
508                     move 2 from 9 to 3
509                     move 3 from 5 to 4
510                     move 2 from 8 to 6
Name: 0, Length: 511, dtype: object

In [255]:
crate_stacks = pd.DataFrame([
    (str(1) in row)
    for row
    in input
]).idxmax()[0]-1
starting_stack = input.loc[:crate_stacks]
instructions = input.loc[crate_stacks+2:]
instructions_parsed = [[
    int(char) 
    for char
    in row.split(' ')
    if char.isdigit()]
    for row
    in instructions
]
temp_stacks = [[
    char 
    for char 
    in row 
]#if char.isalpha() or char==' ']
    for row
    in starting_stack
]
df = pd.DataFrame(temp_stacks).transpose()
df['ColumnA'] = df[df.columns[0:]].apply(
    lambda x: ''.join(x.dropna().astype(str)).strip(),
    axis=1
)
stacks = df.ColumnA.iloc[1::4]
stacks.reset_index(drop=True, inplace=True)
stack_list = [
    list(row)
    for row
    in stacks
]
stack_list

[['F', 'T', 'N', 'Z', 'M', 'G', 'H', 'J'],
 ['J', 'W', 'V'],
 ['H', 'T', 'B', 'J', 'L', 'V', 'G'],
 ['L', 'V', 'D', 'C', 'N', 'J', 'P', 'B'],
 ['G', 'R', 'P', 'M', 'S', 'W', 'F'],
 ['M', 'V', 'N', 'B', 'F', 'C', 'H', 'G'],
 ['R', 'M', 'G', 'H', 'D'],
 ['D', 'Z', 'V', 'M', 'N', 'H'],
 ['H', 'F', 'N', 'G']]

In [256]:
for row in instructions_parsed:
    conts = 0
    while conts < row[0]:
        stack_list[row[2]-1].insert(0, stack_list[row[1]-1].pop(0))
        conts+=1

In [257]:
stacks

0    FTNZMGHJ
1         JWV
2     HTBJLVG
3    LVDCNJPB
4     GRPMSWF
5    MVNBFCHG
6       RMGHD
7      DZVMNH
8        HFNG
Name: ColumnA, dtype: object

In [258]:
for row in instructions_parsed:
    conts = row[0]
    start = row[1]-1
    end = row[2]-1
    stacks[end] = stacks[start][:conts]+stacks[end]
    stacks[start] = stacks[start][conts:]

In [260]:
''.join(
[
    row[0]
    for row
    in stacks
]
)

'NGCMPJLHV'