In [1]:
import numpy as np
import pandas as pd

In [2]:
input = pd.read_csv(r'aoc_input/aoc1.txt', header=None,  skip_blank_lines=False).squeeze()
input

0        9609.0
1        7601.0
2        7142.0
3        5278.0
4        9374.0
5        6815.0
6        1050.0
7        6329.0
8        8016.0
9           NaN
10      12477.0
11      28601.0
12          NaN
13       1056.0
14       5037.0
15       1660.0
16       3786.0
17       2611.0
18       6689.0
19       3159.0
20       2973.0
21       5286.0
22       2401.0
23       6231.0
24       7460.0
25          NaN
26       3689.0
27       3909.0
28       9254.0
29       5704.0
         ...
2220        NaN
2221     7794.0
2222     1246.0
2223     5418.0
2224     2460.0
2225     7858.0
2226     6992.0
2227     5897.0
2228     3459.0
2229     2915.0
2230     2227.0
2231     1517.0
2232        NaN
2233     7873.0
2234     3664.0
2235     6050.0
2236     9000.0
2237     8922.0
2238     8817.0
2239     4514.0
2240        NaN
2241    20975.0
2242        NaN
2243     4983.0
2244    11133.0
2245     4400.0
2246     6751.0
2247     2763.0
2248     2781.0
2249    11806.0
Name: 0, Length: 2250, dtype: float64

In [109]:
def most_cals(input):
    v = input.squeeze()
    cumsum = v.cumsum().fillna(method='pad')
    reset = -cumsum[v.isnull()].diff().fillna(cumsum)
    result = v.where(v.notnull(), reset).cumsum()
    return result.nlargest(3)

In [110]:
most_cals(input)

267     71300.0
152     69249.0
1036    69142.0
Name: 0, dtype: float64

In [112]:
most_cals(input).sum()

209691.0